body{
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.topContainer{
    width: 100%;
    height: 80px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
}
#headText{
    text-align: center;
    font-size: 40px;
}